@media (min-width: 320px) {
	.bike-servis {
		&__card {
			&-btn {
				top: 60%;
			}
		}
	}
}

@media (min-width: 470px) {
	.header {
		&__img {
			height: 80vh;
			background-image: url(../img/header-img-medium.jpg);

			background-position: 0 -30px;
		}
	}

	.categories {
		&__img {
			height: 500px;
		}
	}
}

@media (min-width: 640px) {
	.header {
		&__img {
			background-position: 0 -160px;
		}
	}
}

// it's only for github pages because it dosent work

@media (min-width: 320px) {
	.header {
		height: 70vh;
		background-image: url(../img/header-img.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
